.header {
  width: 100%;
  max-width: 880px;
  padding: 49px 0 39px;
  margin: 0 auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  border-top: 1px solid rgba(84, 84, 84, .7);
  flex: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 917px) {
  .header {
    padding: 28px 30px 30px 30px;
    margin: 0 0 40px;
    min-width: 100%;
  }
}
